.ml-venv/
venv/
__pycache__/
*.pyc
.env
.vscode/

runs/
FINAL_RESULTS/

yolo_dataset_groupval/
yolo_dataset_groupval_aug/
yolo_dataset_groupval_tiles/
yolo_dataset_groupval_tiles_balanced/
yolo_dataset_groupval_tiles_full/
yolo_dataset_groupval_tiles_hardneg/
yolo_dataset_groupval_tiles_positive/

gt_check/
large_box_review.jpg
train_label_check.jpg
